<dt><%= link_to document.date.to_date, "/doc/#{document.id}" %></li>
<% if params[:q].present? and document.content =~ /#{Regexp.escape(params[:q])}/im %>
  <dd>
    <%= highlight(excerpt(document.content, params[:q], :radius => 150), params[:q]) %>
  </dd>
<% end %>
