<h2>Actas da Câmara Municipal de Coimbra</h2>

<div id="documents-list">
  <% organize(@documents).each do |year, docs| %>
    <% if docs.any? %>
      <div class="row">
        <div class="document-year col-xs-12">
          <div class="document-year-caption"><%= year %></div>
          <% docs.each do |month, docs| %>
            <% docs.each do |doc| %>
              <%= link_to doc do %>
                <div class="col-xs-4 col-sm-2 col-lg-1">
                  <div class="document-display">
                    <div class="document-display-month">
                      <%= month_name(month) %>
                    </div>
                    <div class="document-display-day">
                      <%= doc.date.day %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
