$background: #ECF0F1;
$background-header: #2C3F50;
$text-color: #2C3F50;
$main-color: #2ECD71;

body {
  background-color: $background;
  color: $background-header;
  font-size: 14px;
}

a {
  color: $text-color;
  &:hover {
    -webkit-opacity: 0.75;
    -moz-opacity: 0.75;
    filter:alpha(opacity=75);
  }
}

mark {
  background-color: $main-color;
}

#header {
  background-color: $background-header;
  color: $background;
  border-bottom: solid #34495E 10px;
  margin-bottom: 40px;

  h1 {
    font-size: 52px;
    text-transform: uppercase;
    margin-bottom: 20px;
    a {
      color: $main-color;
    }
  }

  .page-header {
    position: relative;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  .social {
    position: absolute;
    right: 0;
    top: 20px;
  }

  form {
    margin: 0;
    .search-query {
      box-sizing: border-box;
      font-size: 24px;
      line-height: 30px;
      padding: 10px 20px;
      height: 50px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }

  a {
    color: white;
    font-weight: bold;
  }

  p {
    margin: 20px 0;
    &.small {
      font-size: 11px;
      margin: 10px 0;
    }
  }

}

h2 {
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;

  &.document-title {
    font-size: 32px;
    margin-bottom: 40px;
  }
}

dl {
  dt {
    font-size: 18px;
    line-height: 30px;
  }
  dd {
    margin-bottom: 40px;
  }
}

.pagination {
  text-align: center;
}

#documents-list {
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;

  .document-year {
    position: relative;
    margin-top: 28px;
    padding-top: 29px;
    border-top: 3px solid $background-header;

    .document-year-caption {
      position: absolute;
      top: 60px;
      left: -80px;
      font-size: 24px;
      font-weight: bold;
    }

    .document-display {
      text-align: center;
      background-color: $background-header;
      color: $background;
      margin-top: 10px;
      margin-bottom: 10px;

      .document-display-month {
        background-color: $main-color;
        color: $background-header;
        padding: 5px;
      }

      .document-display-day {
        font-size: 24px;
        padding: 5px;
      }

      &:hover {
        -webkit-opacity: 0.75;
        -moz-opacity: 0.75;
        filter:alpha(opacity=75);
      }
    }

  }
}

.btn-download {
  font-size: 12px;
  text-transform: uppercase;
  background-color: $main-color;
  color: $background;
  padding: 5px 15px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

  &:hover {
    color: $background;
    -webkit-opacity: 0.75;
    -moz-opacity: 0.75;
    filter:alpha(opacity=75);
  }
}

.document-content {
  font-size: 15px;
  line-height: 20px;
}

#chart {
  margin: 40px 0;
}
