body {
  background-color: $background;
  color: $background-header;
  font-size: 14px;
}

a {
  color: $text-color;
  &:hover {
    -webkit-opacity: 0.75;
    -moz-opacity: 0.75;
    filter:alpha(opacity=75);
  }
}

mark {
  background-color: $main-color;
}

.header {
  background-color: $background-header;
  color: $background;
  border-bottom: solid #34495E 10px;
  margin-bottom: $baseline*2;

  h1 {
    font-size: 52px;
    text-transform: uppercase;
    margin-bottom: $baseline;

    a {
      color: $main-color;
    }

    @media screen and (max-width: $screen-sm) {
      font-size: 36px;
    }
  }


  .page-header {
    position: relative;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: $baseline;
  }

  .social {
    margin-top: $baseline;
    text-align: right;
  }

  a {
    color: white;
    font-weight: bold;
  }

  p {
    margin: $baseline 0;
    &.small {
      font-size: 11px;
      margin: $baseline/2 0;
    }
  }
}

h2 {
  font-size: 24px;
  line-height: $baseline*2;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;

  &.document-title {
    font-size: 32px;
    margin-bottom: $baseline*2;
  }
}

dl {
  dt {
    font-size: 18px;
    line-height: $baseline*1.5;
  }
  dd {
    margin-bottom: $baseline*2;
  }
}

.pagination {
  text-align: center;
}

#documents-list {
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;

  .document-year {
    position: relative;
    margin-top: 28px;
    padding-top: 29px;
    border-top: 3px solid $background-header;

    .document-year-caption {
      font-size: 24px;
      font-weight: bold;
      left: -80px;
      position: absolute;
      top: $baseline*3;

      @media screen and (max-width: $screen-sm) {
        margin-bottom: $baseline;
        position: static;
        text-align: center;
      }
    }

    .document-display {
      text-align: center;
      background-color: $background-header;
      color: $background;
      margin-top: 10px;
      margin-bottom: 10px;

      .document-display-month {
        background-color: $main-color;
        color: $background-header;
        padding: 5px;
      }

      .document-display-day {
        font-size: 24px;
        padding: 5px;
      }

      &:hover {
        -webkit-opacity: 0.75;
        -moz-opacity: 0.75;
        filter:alpha(opacity=75);
      }
    }
  }
}

.btn-download {
  font-size: 12px;
  text-transform: uppercase;
  background-color: $main-color;
  color: $background;
  padding: 5px 15px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

  &:hover {
    color: $background;
    -webkit-opacity: 0.75;
    -moz-opacity: 0.75;
    filter:alpha(opacity=75);
  }
}

.document-content {
  font-size: 15px;
  line-height: $baseline;
}

#chart {
  margin: $baseline*2 0;
}
